{% extends "testerSearch/base.html" %}
{% block content %}
    <h1>Tester Search</h1>


    <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-md-4 col-lg-4">
                <label for="countries">Country</label>
                <select id="countries" class="form-control" name="countries">
                        <option selected>ALL</option>
                        {% for country in countries %}
                        <option value="{{ country }}">{{ country }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 col-lg-4">
                <label for="devices">Device</label>
                <select id="devices" class="form-control" name="devices">
                        <option selected>ALL</option>
                        {% for device in devices %}
                        <option value="{{ device }}">{{ device }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <hr />

    <div class="row">
        Matching Criteria: {{ countrySelected }} and {{ deviceSelected }}
    </div>
    <div class="row">
        <ul>
            {% for key,value in experience %}
                <li>
                    {{ key }} filed {{ value }} bugs on devices matching criteria
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}